<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
<div class="m-8 bg-grey-50 ">
    <div class="relative w-full max-w-lg">
        <div id="circle1"
             class="absolute top-0 -left-4 w-72 h-72 bg-baby-blue-lighter rounded-full mix-blend-multiply filter blur-xl opacity-30 animate-blob">
        </div>
        <div id="circle2"
             class="absolute top-0 -right-4 w-72 h-72 bg-indigo-100 rounded-full mix-blend-multiply filter blur-xl opacity-30 animate-blob animation-delay-2000">
        </div>
        <div id="circle3"
             class="absolute -bottom-2 w-72 h-72 bg-indigo-100 rounded-full mix-blend-multiply filter blur-xl opacity-30 animate-blob animation-delay-4000">
        </div>
        <div class="">
            <h1 style='margin:0in;font-family:"Calibri",sans-serif;' class="text-5xl font-semibold">What is a Secret Santa?</h1>
            <br>
            <p style='margin:0in;font-family:"Calibri",sans-serif;' class="text-2xl">
                For those not familiar with
                Secret Santa.
                it&rsquo;s a way of spicing up the routine of gift-giving by randomizing the recipients and keeping
                all that
                information anonymous between one another.
            </p>
            <br>
            <p style='margin:0in;font-family:"Calibri",sans-serif;' class="text-2xl">
                It&apos;s commonly used during Christmas time by co-workers in an office, school classrooms, and
                about any one with a group of three plus. Hence the term Secret Santa but it can be applied to any
                gift giving event with multiple people.
            </p>

            <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
            <h1 class="text-5xl font-semibold" style='margin:0in;font-family:"Calibri",sans-serif;'>How does it work?</h1>
            <br>
            <p style='margin:0in;font-family:"Calibri",sans-serif;' class="text-2xl">
                We&rsquo;ve made it simple to
                ensure that
                you
                can get out that list as soon as possible to ensure everyone has time to plan out their holiday
                ideas.
                It&rsquo;s as simple as creating a group for this holiday year. Setting up the users that you want
                to
                include.
                Going to your group&apos;s page, randomizing, and click the button Secret Santa Me! This will email
                everyone
                on
                the list their recipient for this holiday!
            </p>
        </div>
    </div>
</div>
<div class="m-10 text-center">
    <h1 class="text-5xl font-semibold text-center ">Ready to get Started?</h1>
    <p class="m-2 font-semibold">Start setting up your participants!</p>
    <button class="bg-baby-blue-lighter hover:bg-baby-blue-dark font-bold py-2 px-4 border border-blue-700 rounded"><a asp-controller="Users" asp-action="Index">Create Participants</a></button>
</div>

<div class="m-8 text-left">
    <h2 class="text-3xl font-semibold">Already have a list of participants?</h2>
    <br>
    <button class="bg-baby-blue-lighter hover:bg-baby-blue-dark font-bold py-2 px-4 border border-blue-700 rounded"><a asp-controller="Groups" asp-action="Index">View Groups</a></button>
</div>
<div>
    <footer>
        <hr>
        <p class ="m-4 text-center">Made by Luis </p>
    </footer>
</div>

</body>
</html>