<div class="mb-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        
        <div class="">
            <label class="text-gray-500 font-bold text-right" for="Name">Name</label>
            <input class="w-full border-b-2 border-baby-blue-lighter focus:border-baby-blue-dark focus:ring-transparent focus:outline-none" type="text" id="Name" name="Name" x-model="group.name"/>

            <label class="text-gray-500 font-bold text-right" for="Name">Date</label>
            <input class="w-full border-b-2 border-baby-blue-lighter focus:border-baby-blue-dark focus:ring-transparent focus:outline-none" type="date" id="Date" name="Date" x-model="group.date"/>
        </div>


        <div class="">
            <label class="text-gray-500 font-bold text-right" for="Name">Time</label>
            <input class="w-full border-b-2 border-baby-blue-lighter focus:border-baby-blue-dark focus:ring-transparent focus:outline-none" type="time" id="Time" name="Time" x-model="group.time"/>

            <label class="text-gray-500 font-bold text-right" for="Name">Location</label>
            <input class="w-full border-b-2 border-baby-blue-lighter focus:border-baby-blue-dark focus:ring-transparent focus:outline-none" type="text" id="Location" name="Location" x-model="group.location"/>
        </div>
    </div>
</div>
