<div class="mb-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
            <label class="text-gray-500 font-bold text-right" for="FirstName">First Name</label>
            <input class="w-full border-b-2 border-baby-blue-lighter focus:border-baby-blue-dark focus:ring-transparent focus:outline-none" type="text" id="FirstName" name="FirstName" x-model="user.firstName"/>
        </div>
        <div>
            <label class="text-gray-500 font-bold text-right" for="LastName">Last Name</label>
            <input class="w-full border-b-2 border-baby-blue-lighter focus:border-baby-blue-dark focus:ring-transparent focus:outline-none" type="text" id="LastName" name="LastName" x-model="user.lastName"/>
        </div>
        <div>
            <label class="text-gray-500 font-bold text-right" for="Email">Email</label>
            <input class="w-full border-b-2 border-baby-blue-lighter focus:border-baby-blue-dark focus:outline-none" type="email" id="Email" required name="Email" x-model="user.email"/>
        </div>
    </div>
</div>